.profile-page {
    padding: 20px;
  }

.columns {
    display: flex;
    justify-content: space-between;
  }

  .campaigns, .contributions {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    margin-bottom: 20px;
    line-height: 1.6;
    font-size: 16px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
  }

  .campaigns {
    margin-right: 20px;
  }

  .campaigns ul, .contributions ul {
    list-style-type: none;
    padding: 0;
  }