.campaignForms {
  max-width: 400px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #f9f9f9;
}

.campaignForms form {
  display: flex;
  flex-direction: column;
}

.campaignForms-fieldset {
  border: none;
  margin-bottom: 20px;
  background: rgb(237, 237, 237, 0.7);
  padding: 30px;
  border-radius: 20px;
}

.campaignForms-legend {
  font-weight: bold;
  font-size: 36px;
  text-align: center;
  margin-bottom: 20px;
  color: #064779;
}

.campaignFormsInputDiv,
.campaignFormsButtonDiv {
  position: relative;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: bold;
}

.campaignFormsInputDiv label,
.campaignFormsButtonDiv label {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 0 5px;
  background: #f9f9f9;
  color: #064779;
  transition: 0.2s;
  pointer-events: none;
}

.campaignForms-inputs:focus ~ label,
.campaignForms-inputs:not(:placeholder-shown) ~ label {
  top: -10px;
  left: 10px;
  font-size: 12px;
  color: #064779;
}

.campaignForms-inputs,
.campaignForms-buttons {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: rgb(237, 237, 237, 0.7);
  margin-top: 20px;
  font-size: 14px;
  font-weight: 300;
}

.campaignForms-inputs:hover {
  border-color: #2870a7;
  transition: ease-in-out 50ms;
}

.campaignForms-buttons:hover {
  background-color: #2870a7;
  color: white;
  transition: ease-in-out 50ms;
}

.campaignForms button {
  padding: 10px 15px;
  background-color: #064779;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}
