.payment-form {
    max-width: 300px;
}

.payment-form form {
    display: flex;
    flex-direction: column;
}

.payment-form fieldset {
    border: none;
}

.payment-form label {
    display: block;
}

.payment-form input[type="text"],
.payment-form input[type="number"],
.payment-form .StripeElement {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}