.signForms-legend {
  font-weight: bold;
  font-size: 36px;
}

form {
  padding: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

fieldset {
  background: rgb(237, 237, 237, 0.9);
}

div {
  display: flex;
  flex-direction: column;
  margin: 10px;
}
